// width:1190px;
$width:1190px;
.top{
    height:30px;
    width:100%;
    background-color: #000;
    a{
        color:white;
        font-size:12px;
    }
    a:hover{
        color:red;
    }
    .topp{
        width:1190px;
        margin:0 auto;
        height:30px;
        ul{
            float:left;
        }
        li{
            float: left;
            a{
                display:block;
                height:30px;
                line-height:30px;
                text-align: center;
            }
        }
        .to1{
            width:420px;
            height:30px;
            
            li:nth-child(1){
                a{
                    margin: 0 12px 0 22px;
                }
            }
            li:nth-child(2){
                a{
                    margin:0 12px;
                }
            }
            i{
                width:0px;
                height:16px;
                border-left:1px solid white;
                float: left;
                margin-top:7px;
            }
            li:nth-child(3),li:nth-child(4){
                margin:0 12px;
            }
        }
        .toBox{
            width:230px;
            height:30px;
            float: left;
            overflow: hidden;
            display: block;
            position:relative;
            .to2{
                position: absolute;
                top:0px;
                float:left;
                height:90px;
                li{
                    float:none;
                    width:230px;
                    height:29.5px;
                    a{
                        text-align: left;
                        color:yellow;
                    }
                }
            }
        }
        .to3{
            float: right;
            width:449px;
            height:30px;
            line-height:30px;
            li{
                float:left;
                width:82px;
                text-align: center;

            }
            li:nth-child(1),li:nth-child(2),li:nth-child(3){
                width:94px;
            }
            li:nth-child(1),li:nth-child(2){
                span{
                    color:red;
                }
            }
            span{
                color:white;
                font-size:12px;                
            }
        }
        #to31{
            position: relative;
        }
        #to31 span{
            display: block;
            float:left; 
        }
        #to31 div{
            width:88px;
            height:30px;
            background:white;
            position: absolute;
            top:30px;
            font-size:12px;
            display: none;
            border-top:0;
            border:1px solid gray;
            z-index:10;
            a{
                color:black
            }
            a:hover{
                color:red
            }
        }
    }
}
// logo
.logo{
    width:100%;
    height:84px;
    .lo{
        width:1190px;
        height:84px;
        margin: 0 auto;
        padding-top:20px;
        
        .lo1{
            display:block;
            width:320px;
            height:36px;
            float:left;
            img{
                display: block;
                width:240px;
                height:32px;
            }
        }
        .lo2{
            width:650px;
            height:60px;
            float:left;
            position: relative;
            .lo21{
                width:650px;
                height:36px;
                
                .search{
                    width:520px;
                    height:34px;
                    padding-left:20px;
                    float: left;
                    outline:0;
                }
                button{
                    width:90px;
                    height:38px;
                    background: black;
                    color: white;
                    font-size: 25px;
                    text-align: center;
                    display: block;
                    border:0;
                    float: left;
                    border-top:1px solid black;
                    border-bottom: 1px solid black;
                    padding:0;
                    font-size:16px;
                }

            }
            .lo22{
                width:655px;
                height:19px;
                padding-top:2px;
                p{
                    float: left;

                    a{
                        height:12px;
                        line-height:12px;
                        display: block;
                        color:gray;
                        padding:0 4px;
                        font-size:12px;
                        margin-top:4px;
                    }
                    a:hover{
                        color:red;
                    }
                }
            }
            .searchBannerBox{
                width:420px;
                height:12px;
                overflow: hidden;
                position: absolute;
                left:21px;
                top:13px;
                .searchBanner{
                    height:56px;
                    width:100px;
                    position: absolute;
                    top:0;
                    left:0;
                    li{
                        cursor: pointer;
                        color: gray;
                        font-size: 12px;
                        height:14px;
                        line-height:14px;
                    }
                    li:hover{
                        color:#112313;
                    }

                }
            }
        }
        .lo3{
            float: right;
            width:188px;
            height:41px;
            position: relative;
            .lo3Box{
                position: absolute;
                width:188px;
                height:41px;
                .lo31{
                    border:1px solid gray;
                          
                    display: block;
                    width:188px;
                    height:41px;
                    line-height:41px;
                    text-align:center;
                    position: absolute;
                    overflow: hidden;
                    z-index: 10;
                    background-color: white;
                    span:nth-child(1){
                        font-size:20px;
                    }
                    span:nth-child(2){
                        color:red
                    }
                    cursor:pointer;
                }
                .lo32{
                    width:412px;
                    height:144px;
                    overflow: hidden;
                    position: absolute;
                    background-color: white;
                    right:-2px;
                    border:1px solid gray;
                    top:41px;
                    z-index:1;
                    padding-top: 30px;
                    cursor:pointer;
                    display: none;
                    .iconfont{
                        width:64px;
                        font-size: 70px;
                        float:left;
                        height:85px;
                        float: left;
                        margin-left:35px;
                        display: block;
                    }
                    .lo322{
                        height:85px;
                        width:228px;
                        float: left;
                        margin-left:20px;
                        padding-left:10px;
                        
                        div{
                            color:gray;
                            color:20px;
                        }
                        button{
                            margin-top:10px;
                            border:0;
                            background-color:red;
                            color:white;
                            font-size:20px;
                            height:30px;
                            width:60px;
                            
                        }
                    }
                }
            }
            

        }
        
        
    }
}
// banner图上方导航
.bannerTop{
    width:100%;
    height:36px;
    .bannerTopBox{
        width:1190px;
        height:36px;
        margin:0 auto;
        div{
            float:left;
        }
        .btb1{
            width: 240px;
            height: 36px;
            line-height: 36px;
            background: url(https://ssl1.sephorastatic.cn/soa/pc/images/classified.png);
            background-size: 100% 100%;
            a{
                color: #fff;
                margin-left: 15px;
                font-size: 16px;
            }
        }
        .btb2{
            padding-left:40px;
            width:754px;
            height:36px;
            float: left;
            li{
                margin-right: 40px;           
                float: left;
                padding-top:12px;
                a{
                    font-size:16px;
                }
            }
        }
        .btb3{
            float:right;
            cursor: pointer;
            img{
                width: 153px;
                height:36px;
                display: block;
            }
        }
    }
}
// banner图
.banner{
    width:100%;
    height:400px;
    .bannerBox{
        height:400px;
        width:$width;
        margin: 0 auto;
        position: relative;
        // overflow: hidden;
        a{
            display: block;
            height:400px;
            width:$width; 
            position: absolute;       
        }
        img{
            vertical-align: middle;
        }
    }

}